<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta name="viewport" content="width=device-width">
  <title>小数据处理平台</title>
  <link rel="stylesheet" href="./css/css">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/sh.css">
  <link rel="stylesheet" type="text/css" href="../easyui/themes/default/easyui.css">
  <link rel="stylesheet" type="text/css" href="../easyui/themes/icon.css">
  <link rel="stylesheet" type="text/css" href="../easyui/themes/color.css">
  <link rel="stylesheet" type="text/css" href="../easyui/demo/demo.css">
  <script type="text/javascript" src="../jquery/jquery-1.12.4.min.js"></script>
  <script type="text/javascript" src="../easyui/jquery.easyui.min.js"></script>
</head>

<body class="alt apidoc" id="api-section-index">
  <div id="content" class="clearfix">
    <div id="column2" class="interior">
      <div id="intro" class="interior">
        <a href="/home" title="Go back to the home page">
          <span style="font-size:20px">小数据处理平台</span>
        </a>
      </div>
      <ul>
        <li>
          <a href="/rainbowloan">丰收彩虹贷</a>
        </li>
        <li>
          <a href="/whitetealoan">两山白茶贷</a>
        </li>
        <li>
          <a href="/villeggiaturaloan">两山乡居贷</a>
        </li>
      </ul>
      <div class="line"></div>
      <ul>
        <li>
          <a href="/logout">注销账号</a>
        </li>
      </ul>
    </div>

    <div id="column1" data-id="index" class="interior">
      {{{body}}}
    </div>
</body>

</html>