<div align="center">
    <h2>用户管理</h2>

    <table id="dg" title="用户管理" class="easyui-datagrid" style="width:700px;height:450px" url="/user" toolbar="#toolbar"
        pagination="true" rownumbers="true" fitColumns="true" singleSelect="true">
        <thead>
            <tr>
                <th field="name" width="50">姓名</th>
                <th field="sid" width="50">身份证号</th>
                <th field="city_id" width="50">所在支行</th>
                <th field="code" width="50">柜员号</th>
                <th field="role" width="50">权限</th>
            </tr>
        </thead>
    </table>

    <div id="toolbar">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newUser()">新建用户</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editUser()">编辑用户</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyUser()">删除用户</a>
    </div>

    <div id="dlg" class="easyui-dialog" style="width:400px" closed="true" buttons="#dlg-buttons">
        <form id="fm" method="post" novalidate style="margin:0;padding:20px 50px">
            <div style="margin-bottom:20px;font-size:14px;border-bottom:1px solid #ccc">User Information</div>
            <div style="margin-bottom:10px">
                <input name="name" class="easyui-textbox" required="true" label="姓名:" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="sid" class="easyui-textbox" label="身份证号:" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="city_id" class="easyui-combobox" required="true" label="所在支行:" data-options="valueField:'city_id',textField:'city_name',url:'/branch_list'" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="code" class="easyui-textbox" required="true" label="柜员号:" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="pwd" class="easyui-passwordbox" required="true" label="密码:" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="role" class="easyui-combobox" required="true" label="权限:" data-options="valueField:'id',textField:'text',url:'/user_role'" style="width:100%">
            </div>
        </form>
    </div>
    <div id="dlg-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveUser()" style="width:90px">Save</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')"
            style="width:90px">Cancel</a>
    </div>
    <script type="text/javascript">
        var url;
        function newUser() {
            $('#dlg').dialog('open').dialog('center').dialog('setTitle', '新建用户');
            $('#fm').form('clear');
            url = 'add_user';
        }
        function editUser() {
            var row = $('#dg').datagrid('getSelected');
            if (row) {
                $('#dlg').dialog('open').dialog('center').dialog('setTitle', '编辑用户');
                $('#fm').form('load', row);
                url = 'update_user?id=' + row.code;
            }
            else {
                alert('请先选中一行！');
            }
        }
        function saveUser() {
            $('#fm').form('submit', {
                url: url,
                onSubmit: function () {
                    return $(this).form('validate');
                },
                success: function (result) {
                    console.log('result: ' + result);
                    var result = eval('(' + result + ')');
                    if (result.errorMsg) {
                        $.messager.show({
                            title: 'Error',
                            msg: result.errorMsg
                        });
                    } else {
                        $('#dlg').dialog('close');        // close the dialog
                        $('#dg').datagrid('reload');    // reload the user data
                    }
                }
            });
        }
        function destroyUser() {
            var row = $('#dg').datagrid('getSelected');
            if (row) {
                $.messager.confirm('确认', '确定要删除该用户吗？', function (r) {
                    if (r) {
                        $.post('destroy_user', { id: row.code }, function (result) {
                            if (result.success) {
                                $('#dg').datagrid('reload');    // reload the user data
                            } else {
                                $.messager.show({    // show error message
                                    title: 'Error',
                                    msg: result.errorMsg
                                });
                            }
                        }, 'json');
                    }
                });
            }
            else {
                alert("请先选中一行！");
            }
        }
        function doSearch() {
            $('#dg').datagrid('load', {});
        }
        window.onload = doSearch;
    </script>
</div>