<div id="apicontent">
    <div>
        <span style="color:brown">{{{tip1}}}</span>    
    </div>
    <div>
        <span style="color:green">{{{tip2}}}</span>
    </div>
    <br />
    <div>
        <pre>
温馨提示：
    下载到的数据并非可以直接导入的数据。需要注意“绿色经营情况”和“星级评定”这两个字段的内容。
    对于“绿色经营情况”这个字段，可取的内容只能是“良好”、“较好”、“尚可”、“一般”、“不合格”这其中的一个。
而下载的文件中很可能出现空的内容或者诸如“绿色经营情况良好”之类的内容，这是因为客户经理在维护这些数据的
时候没有按照既定的要求进行修改，所以需要您参照文件中的给定值或者您手头的资料手动给这一列设置成正确的值。
    对于“星级评定”这一列，是需要您在上传的时候包含在上传的文件中的，其可取的数值只能是“五星”、“四星”、
“三星”、“无”其中的一个。如果您的文件中出现了另外的值，这很可能是因为您上传的时候就有问题，需要自行修改。
        </pre>        
    </div>
</div>